*{
  padding: 0;
  margin: 0;
  font-family: Courier;
}

body{
  height: 100vh;
  background-image: linear-gradient(to bottom right, #B8A17A, #33BBFF);
}

.jmbbkgd{
    color: rgba(255,255,255,0.7);
    background-color: rgba(0, 0, 0, 0.3);
}

.open-navigation-modal{
    float: right;
    position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
    padding: 8pt;
    font-size: 20pt;
    color: rgba(255,255,255,0.7);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8pt 0 0 8pt;
}

.nav-modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    animation: navigationFadeIn .5s ease;
    z-index: 100;
}

.hidden{
    display: none;
}

.close{
    position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
    font-size: 20pt;
    float: right;
    padding: 10pt;
    color: rgba(25,25,255,0.7);
    animation: spin180 .25s ease-in;
}

.close:hover{
    color: #ffffff;
}

.item-wrapper{
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translateY(-40%) translateX(-15%);
}

.item-wrapper a{
    display: block;
    padding: 5pt;
    text-decoration: none;
    font-size: 30pt;
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    text-align: left;
}

.item-wrapper a:hover{
    color: white;
}

.media-wrapper{
    position: absolute;
    bottom: 10%;
    left: 15%;
    transform: translateX(-15%);
}

.media-wrapper a{
    padding: 3pt;
    text-decoration: none;
    font-size: 16pt;
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    text-align: left;
}

@keyframes navigationFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin180{
    0% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}